# # BSCScan API KEY
# BSC_API_KEY=3J3WPPW72ACTIR9XZA3DAQXGKUMA7Z8YRI

# # private key for deployment on networks
# TESTNET_DEPLOYER=a6351bcd413290ece5a227d5da186f0109c5586acbf52142c11fa04856395575
# MAINNET_DEPLOYER=a6351bcd413290ece5a227d5da186f0109c5586acbf52142c11fa04856395575

# mnemonic for test on development network (ganache)
MNEMONIC="fold goat expire slot deer lesson canal trigger hat best soft car"

# # Blockchain network provider URI
# BSC_TESTNET_PROVIDER="https://data-seed-prebsc-1-s1.binance.org:8545"
# BSC_MAINNET_PROVIDER="https://bsc-dataseed.binance.org/"

# Polygonscan API KEY for verification
POLYGON_API_KEY="T28KEJPJWN7X421FY2B7UX48UUPRUWTT1Z"

# private key for deployment on networks
# TESTNET_DEPLOYER="ca579ee2caa56504a7d072c4ce35406dbad235e02ff0e5745e1797e322033fae"
# MAINNET_DEPLOYER="ca579ee2caa56504a7d072c4ce35406dbad235e02ff0e5745e1797e322033fae"

# mnemonic for test on development network (ganache)
MNEMONIC="fold goat expire slot deer lesson canal trigger hat best soft car"

# Blockchain network provider URI
AMOY_POLYGON_PROVIDER="https://polygon-amoy.g.alchemy.com/v2/dJy4mXQSopnOfRC-dJN6SrYE2wdD5AYA"
MATIC_POLYGON_PROVIDER="https://matic-mainnet-full-rpc.bwarelabs.com"

SEPOLIA_PROVIDER="https://eth-sepolia.g.alchemy.com/v2/CvZl0yEoO0YXNQe1RmSctn1_R1sOTfwE"
SEPOLIA_KEY=FZ21SFFWS2I9K1MX7ICD39WK9BRF7TSU23
# BSC_API_KEY=FX7TFH3K8FEZC26M2FXR7T5AE21KASH89K
ETHERSCAN_API_KEY=FZ21SFFWS2I9K1MX7ICD39WK9BRF7TSU23s
TESTNET_DEPLOYER=0x4154eb6a7621baa5a98eb7b35bfc25ef0600206f9ee8d56a704529e5ecb5023c
MAINNET_DEPLOYER=0x4154eb6a7621baa5a98eb7b35bfc25ef0600206f9ee8d56a704529e5ecb5023c